{% extends "base.html" %}

{% block h1 %}
<div class="faq-boxes">
        <div class="faq-box" id="faq-box1">
            <div class="box-heading">
                Frequently Asked Questions
            </div>
            <div class="faq-box-text">
                <section class="accordion">
                    <div class="tab">
                        <input type="checkbox" name="accordion-1" id="cb1">
                        <label for="cb1" class="tab__label">Client website text</label>
                        <div class="tab__content">
                            <p>
                                Client website text
                            </p>
                        </div>
                    </div>
                    <div class="tab">
                        <input type="checkbox" name="accordion-1" id="cb2">
                        <label for="cb2" class="tab__label">Client website text</label>
                    <div class="tab__content">
                        <p>
                            Client website text
                        </p>
                    </div>
                    </div>
                    <div class="tab">
                        <input type="checkbox" name="accordion-1" id="cb3">
                        <label for="cb3" class="tab__label">Client website text</label>
                    <div class="tab__content">
                        <p>
                            Client website text
                        </p>
                    </div>
                    </div>
                    <div class="tab">
                        <input type="checkbox" name="accordion-1" id="cb4">
                        <label for="cb4" class="tab__label">Client website text</label>
                    <div class="tab__content">
                        <p>
                            Client website text
                        </p>
                    </div>
                    </div>
                    <div class="tab">
                        <input type="checkbox" name="accordion-1" id="cb5">
                        <label for="cb5" class="tab__label">Client website text</label>
                    <div class="tab__content">
                        <p>
                            Client website text
                        </p>
                    </div>
                    </div>
                    <div class="tab">
                        <input type="checkbox" name="accordion-1" id="cb6">
                        <label for="cb6" class="tab__label">Client website text</label>
                    <div class="tab__content">
                        <p>
                            Client website text
                        </p>
                    </div>
                    </div>
                    <div class="tab">
                        <input type="checkbox" name="accordion-1" id="cb7">
                        <label for="cb7" class="tab__label">Client website text</label>
                    <div class="tab__content">
                        <p>
                            Client website text
                        </p>
                    </div>
                    </div>
                    <div class="tab">
                        <input type="checkbox" name="accordion-1" id="cb8">
                        <label for="cb8" class="tab__label">Client website text</label>
                    <div class="tab__content">
                        <p>
                            Client website text
                            <br>
                        </p>
                    </div>
                    </div>
                    <div class="tab">
                        <input type="checkbox" name="accordion-1" id="cb9">
                        <label for="cb9" class="tab__label">Client website text</label>
                    <div class="tab__content">
                        <p>
                            Client website text
                            <br>
                        </p>
                    </div>
                    </div>
                    <div class="tab">
                        <input type="checkbox" name="accordion-1" id="cb10">
                        <label for="cb10" class="tab__label">Client website text</label>
                    <div class="tab__content">
                        <p>
                            Client website text
                        </p>
                    </div>
                    </div>
                    <div class="tab">
                        <input type="checkbox" name="accordion-1" id="cb11">
                        <label for="cb11" class="tab__label">HClient website text</label>
                    <div class="tab__content">
                        <p>
                            Client website text
                        </p>
                    </div>
                    </div>
                    <div class="tab">
                        <input type="checkbox" name="accordion-1" id="cb12">
                        <label for="cb12" class="tab__label">Client website text</label>
                    <div class="tab__content">
                        <p>
                            Client website text
                        </p>
                    </div>
                    </div>
                    <div class="tab">
                        <input type="checkbox" name="accordion-1" id="cb13">
                        <label for="cb13" class="tab__label">Client website text</label>
                    <div class="tab__content">
                        <p>
                            Client website text
                        </p>
                    </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


{% endblock %}